/* Main home page*/
.header-title, .header-description{
  color:lightgoldenrodyellow
}
.headBox{
  height: 150px;
  background-color:brown;
}
.footer1{
  background-color:brown;
   height: 250px;
}
.footer2{
height: 250px; 
background-color:tomato;
}
.image1{
background-color:chocolate;
}
.image2{
  background-color:maroon;
}
.regButton, .loginButton{
  background-color:brown;
  color: white;
  padding: 5% 15%;
  text-align: center;
  margin-top: 33%;
  margin-bottom: 15%;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
input {
display: inline-block;
}
button{
  width: 30%;
  padding: 2% 2%;
  background-color:rgb(0, 195, 255);
}
 /*login and register page */
.error{
 color:red;
}
.firstName, .lastName , .phoneNumber , .emailId, .address , .regPassword{
  padding: 5% 20%;
  margin: 8px 0;
  text-align:center;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.container{
  position: relative;
}

.userId, .password{
  padding: 5% 20%;
  margin: 8px 0;
  text-align:center;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.loginForm{
  text-align: center;
  height:50%!important;
  position: absolute;
  margin-top: 20%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgray;
}

.registerForm{
  text-align: center;
  height:50%;
  background-color:lightgray;
  position: absolute;
  margin-top: 20%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
}
.headText{
  height: 25%;
  background-color:lightgoldenrodyellow;
}
.headrow{
  position: absolute;
}

.home-link{
  margin-top: -5%;
  color: black;
  text-align: center;
  font-size: 20px;
}
.form-group{
  padding: 2% 15%;
}

/*Dashboard page style
*/
       .nav {
  position:absolute;
  display:inline-block;
  font: size 5%;
  font-weight:900;
  /* color:#FFF; */
  background:lightgray;
  margin-left: 10%;
  margin-top: 5%;
  cursor: pointer;
}
.nav-item a {
  display:block;
  padding:15% 5%;
}
.nav-item{
  border: black;
    margin-left: -50%;
    text-align: left;
}
/* .nav-item a:hover {
  background:lightblue;
} */
.home-sublink{
  padding: 2%;
  color:black;
}

/*Add complaint page*/
.userDashboard{
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
}
.add-complaint{
  background-color:lightsalmon;
  color: black;
  padding: 2% 5%;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  cursor: pointer;
}
.complaint-title{
  padding: 2% 25%;
  text-align:center;
}
.complaint-description{
  padding: 15% 25%;
  text-align:center;
}
.new-complaint-form{
  text-align: center;
    height: 70%!important;
    position: absolute!important;
    margin-top: 14%;
    margin-left: 60%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
}
.complaintForm{
  padding: 2%;
}


/* View complaints page */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 120%;
  height: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px!important;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.errorMessage{
  margin-top: 2%;
  /* margin-left: 50%; */
}