<div class="container-fluid">
            <div class="row headRow">
                <div class="col-md-4 image1">
                    <h2 style="text-align:center">Report your problem here</h2>
                    <img src="https://image.shutterstock.com/image-photo/road-damaged-by-rain-snow-260nw-248080903.jpg" 
                    alt="damaged road" style="height:80%;
                    width:100%;">
                </div>
                <div class="col-md-4 headText">
                    <marquee behavior="scroll" direction="right"><h1>Welcome! to your home</h1></marquee>
                    <marquee behavior="scroll" direction="left"><h2>Find your solution here</h2></marquee>
                    <div class="row homeButtons" style="margin-left:15%">
                            <a ui-sref="registerPage" class="regButton">Register</a>
                            <a ui-sref="loginPage" class="loginButton">Sign In</a>
                    </div>
                </div>
                <div class="col-md-4 image2">
                    <h2 style="text-align:center">Get your solution here</h2>
                    <img src="http://www.essex.gov.uk/News/PublishingImages/Highways_resurfacing_445.jpg"
                     alt="Fixing Damaged Road" style="height:343px;width:100%;">
                </div>
            </div>
        <div class="row">
            <div class="col-md-6 footer1">
            </div>
            <div class="col-md-6 footer2">
            </div>
        </div>
        </div>
    </div>
</div>
