<div class="container-fluid">
        <div class="col-md-6">
            </div>
            <div class="col-md-6 home-link">
                    <a ui-sref="main" class="home-sublink">Home</a>
                    <a ng-click="logout()" class="home-sublink">logout</a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Complaint uploaded Successfully, Click here to redirect to
                    <a ui-sref ="dashboardPage">Dashboard</a></h2>
                </div>
            </div>
            </div>