<div class="container-fluid">
    <div class="col-md-6">
    </div>
    <div class="col-md-6 home-link">
        <a ui-sref="main" class="home-sublink">Home</a>
        <a ng-click="logout()" class="home-sublink">logout</a>
    </div>
    <ng-include src="'app/shared/templates/sideBar.html'"></ng-include>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            <div class="app-container app-container-medium">
                <h2>List of Complaints</h2>

                <table>
                    <tr> 
                        <th>Complaint Id</th>
                        <th>User Id</th>
                        <th>Title</th>
                        <th>Details</th>
                    </tr>
                    <tr ng-repeat="x in records">
                        <td>{{x.complainId}}</td>
                        <td>{{x.userId}}</td>
                        <td>{{x.title}}</td>
                        <td>{{x.detail}}</td>
                    </tr>
                </table>
            </div>
            
            <p class="errorMessage"><b>{{errorMessage}}</b></p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>