<div class="row userDashboard">
    <div class="col-md-2">

        <nav class="nav">
            <ul class="nav-list"><ul class="nav-item">
                    <a ui-sref="dashboardPage">Dashboard</a>
                </ul>
                <ul class="nav-item">
                    <a ui-sref="viewComplaints">Complaints</a>
                </ul>
                <ul class="nav-item">
                    <a ui-sref="addComplaint">Add Complaint</a>
                </ul>
                <ul class="nav-item">
                    <a ui-sref="viewProfile">Profile</a>
                </ul>
            </ul>
        </nav>
    </div>
    <div class="col-md-8">
    </div>
    <div class="col-md-2">
    </div>
</div>